<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> EMPRESA TAL - Site Modelo Para Integração BD </title>
    <link rel="shortcut icon" href="../img/icone.png">
    <meta name="author" content="Aline Zenker">
    <meta name="description" content="Integrando FRON x BACK x BD">
    <meta name="keywords" content="PHP, HTML, BD, CSS, JS">
    <!-- Habilitando a leitura do tamanho do dispositivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap - download -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- CSS padrão -->
    <link rel="stylesheet" type="../text/css" href="css/style.css">
    <!-- Scripts do Bootstrap -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>

<body>
    <main>
        <header id="topo" class="jumbotron text-center" style="margin-bottom:0">
            <h1>EMPRESA CADASTRA</h1>
        </header>


        <nav class="navbar navbar-inverse" style="margin-bottom: 0; border-radius: 0;">
            <ul class="nav navbar-nav">
                <li><a href="../index.php">Home</a></li>
                <li><a href="../view/buscarcontatos.php">Visualizar Contatos</a></li>
            </ul>
        </nav>

        <section class="home container-fluid" id="home">
            <h1 class="text-center"> Confirmação </h1>
            <h2 class="text-center">Cadastro efetuado com sucesso.</h2>
            <p class="text-center">Aguarde que entraremos em contato através do email.</p>
        </section>

    </main>
</body>

</html>