@charset "UTF-8";
@author "Yasmin L";

*{
  margin: 0;
  font-family: arial;
}

body{
  background-color: #4169E1;
}

.geral{
  width: 100%;
  margin: 0 auto;
}

.topo{
  width: 100%;
  height: 370px;
  background-image: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.esquerdo, .direito{
  width: 25%;
  padding: 0.6%;
  float: left;
  background-color: rgba(0, 0, 0, 0.2);
}

.centro{
  width: 44%;
  padding: 0.6%;
  margin: 0 1.2%;
  background-color: rgba(0, 0, 0, 0.2);
  float: left;
}
/*44+0.6+0.6+1.2+1.2=47.6%
52.4+47.6= 100%*/
.imagemcentro img{
  width: 100%;
  border-radius: 30px;
}

p{
  text-align: justify;
  text-indent: 20px;
  font-size: 10pt;
}

h1{
  text-align: center;
  padding: 15px;
}
