.top {
    background-image: url("../img/topo.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20%;
}

.side1 {
    background-color: darkolivegreen;
    float: left;
    width: 25%;
    height: 80%;

}

.content {
    background-image: url("../img/fundo.jpg");
    width: 50%;
    height: 80%;
    float: left;

}


.side2 {
    background-color: rgb(221, 150, 205);
    width: 25%;
    height: 80%;
    float: right;
}

.footer {
    background-color: rgb(143, 212, 209);
    width: 100%;
    height: 20%;
    float: left;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: white;
    font-family: cursive;
    font-size: 25pt;
    font-style: italic;
    font-weight: bold;
}

